/*font-family: 'Black Ops One', cursive;
font-family: 'Press Start 2P', monospace;;
font-family: 'Architects Daughter', cursive;
font-family: 'VT323', ;
*/

body {
    font-family: 'Press Start 2P', monospace;;
    overflow: hidden;
    margin:0;
    padding: 0;
    vertical-align: center;
}

canvas {
    position: absolute;
    top: 0;
    left: 0;
    border: 0;
    background-color: transparent;
}
#cGeo{
    z-index: 0;
}

#cAction{
    z-index: 1;
}

#cUI{
    z-index: 2;
    /*background-color: black;*/
}