html {
    background: url('../images/startscreen/startscreen.jpg') no-repeat center fixed;
    background-size: contain;
}

.btn {
    width: 200px;
    height: 60px;
    text-align: center;
    border: 1px solid grey;
    box-shadow: 0 2px 4px gray;
    font-weight: bold;
    background-color: yellow;
}

.btn:hover {
    background: red;
    border: solid 1px red;
    text-decoration: none;
}

#btn-help {
    position: fixed;
    bottom: 0;
    left: 0;
}

#btn-start {
    position: fixed;
    bottom: 0;
    right: 0;
}
