/*font-family: 'Black Ops One', cursive;
font-family: 'Press Start 2P', monospace;;
font-family: 'Architects Daughter', cursive;
font-family: 'VT323', ;
*/

@import url('https://fonts.googleapis.com/css?family=Black+Ops+One|Press+Start+2P|Architects+Daughter|VT323');

body {
    font-family: 'Press Start 2P', monospace;;
    overflow: hidden;
    margin:0;
    padding: 0;
}

#worldView{
    position: absolute;
    left : 50%;
    top: 50%;
}



canvas {
    position:absolute;
    width: 100%;
    height: 100%;
    background-color: transparent;
}
#cGeo{
    z-index: 0;
}

#cAction{
    z-index: 1;
}

#cScenery{
    z-index: 2;
}

#cUI{
    z-index: 3;
    /*background-color: black;*/
}


#spacer{
     position: absolute;
     width: 100%;
     height: 8%;
     bottom: 0;
     opacity: 0.8;
 }